openapi: "3.1.0"
info:
  title: Ekubo API Client
  description: |
    Сlient for Ekubo AMM DEX.
  version: "0.1.0"
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
externalDocs:
  description: Find out more about Ekubo
  url: 'https://docs.ekubo.org/'
components:
  schemas:
    poolKey:
      type: object
      description: The composite key identifier for a pool in Ekubo
      required:
        - token0
        - token1
        - fee
        - tick_spacing
        - extension
      properties:
        token0:
          type: string
          description: Address of token0 ERC20 contract
        token1:
          type: string
          description: Address of token1 ERC20 contract
        fee:
          type: string
          description: Size of fee, hex of Q0.128 (see https://docs.ekubo.org/integration-guides/reference/reading-pool-price)
        tick_spacing:
          type: integer
        extension:
          type: string
          description: extension id (see more https://docs.ekubo.org/integration-guides/extensions)
    routeNode:
      type: object
      required:
        - pool_key
        - sqrt_ratio_limit
        - skip_ahead
      properties:
        pool_key:
          $ref: '#/components/schemas/poolKey'
        sqrt_ratio_limit:
          type: string
          description: a limit on how far the price can move as part of the swap. Note this must always be specified, and must be between the maximum and minimum sqrt ratio. See also https://docs.ekubo.org/integration-guides/reference/reading-pool-price
        skip_ahead:
          type: integer
          description: A suggested skip_ahead value for gas optimizing the trade. It is an optimization parameter for large swaps across many uninitialized ticks to reduce the number of swap iterations that must be performed.
    Quote:
      type: object
      description: The suggested route(s) to get the best price
      required:
        - specifiedAmount
        - amount
        - route
      properties:
        specifiedAmount:
          type: string
          description: An input amount
        amount:
          type: string
          description: The calculated amount for the quote
        route:
          type: array
          description: The list of pool keys through which to swap
          items:
            $ref: '#/components/schemas/routeNode'
    Quotes:
      type: object
      description: The suggested route(s) to get the best price
      required:
        - total
        - splits
      properties:
        total:
          type: string
          description: The result of all swaps (either an output amount if an exact input or an input if an exact output is specified). Sums up all amounts in every Quote.
        splits:
          type: array
          items:
            $ref: '#/components/schemas/Quote'
    quoteResponse:
      type: object
      oneOf:
        - $ref: '#/components/schemas/Quote' 
        - $ref: '#/components/schemas/Quotes'
    errorResponse:
      type: object
      description: Error response
      required:
        - error
        - status
      properties:
        error:
          type: object
          additionalProperties: true
        status:
          type: integer
          example: 500
      example:
        status: 500
        error: an error occured
paths:
  '/quote/{amount}/{token}/{otherToken}':
    get:
      summary: Returns a quote for a swap or series of swaps to/from one token amount from/to another token
      parameters:
        - in: path
          name: amount
          schema:
            type: string
          required: true
          description: The amount of the specified token. Positive amount means an exact input amount. Negative amount means an exact output amount.
          example: "-1e9"
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: Address of token0 ERC20 contract
        - in: path
          name: otherToken
          schema:
            type: string
          required: true
          description: Address of token1 ERC20 contract
        - in: query
          name: maxSplits
          schema:
            type: integer
            minimum: 1
          description: The maximum number of routes that the amount can be split across
        - in: query
          name: maxHops
          schema:
            type: integer
            minimum: 1
          description: The maximum number of pools that may be used in any route
      responses:
        '200':
          description: items found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quoteResponse'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
servers:
  - description: Sepolia Ekubo API
    url: https://sepolia-api.ekubo.org